header {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
body {
  margin: 0px;
}
hr {
  margin: 0px;
  height: auto;
  border: none;
  border-top: 1px solid silver;
}
.logo-container {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 11%;
  margin-right: 11%;
}
.header_nav-links {
  display: flex;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
.header_nav-links li {
  margin: 0 12px;
}
.header_nav-links a {
  font-size: 16px;
}
.header_nav-links a:hover {
  color: red;
}
.icons {
  display: flex;
  align-items: center;
}
.icons-btn {
  border: 1px solid silver;
}
.icon-btnhugger {
  height: 25px;
  width: 25px;
  border: 1.5px solid rgb(203, 203, 203);
  border-radius: 30%;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin: 3px;
}
.icon-btnhugger img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
  padding-right: 8px;
}
.name {
  display: flex;
  flex-direction: column;
  line-height: 1;
  cursor: default;
}
.sub-text {
  font-size: 12px;
  color: red;
  margin: 3px;
  font-weight: bold;
}
.main-text {
  font-size: 20px;
}
.nav {
  display: flex;
  background-color: rgba(244, 244, 244, 0.999);
  justify-content: center;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 5px;
  width: 120px;
  margin-top: 0;
}
.menu li {
  font-size: 13px;
  display: flex;
  margin-bottom: 8px;
  color: rgb(56, 56, 56);
  text-overflow: ellipsis;
  white-space: nowrap;
}
a {
  text-decoration: none;
  color: inherit;
  display: flex;
}
.menu li a:hover {
  color: red;
}

.category {
  padding: 10px;
  padding-right: 0;
  padding-top: 0;
  font-size: 14px;
  border-left: 1px solid rgb(224, 224, 224);
  margin-top: 15px;
  height: 180px;
}
.category:nth-child(2) {
  border-left: none;
  margin-right: 0;
  padding-left: 0;
  margin-left: 0;
}
.category:last-child {
  border-right: 1px solid rgb(224, 224, 224);
  padding-right: 20px;
  padding-left: 0;
  margin-bottom: 20px;
  border-left: none;
  margin-right: 0;
}

.categoryflex {
  width: 1140px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.secret {
  height: 70px;
  width: 760px;
  border: 1px solid silver;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding-left: 15px;
  margin-bottom: 5px;
}
.section {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.sec_asi {
  display: flex;
  justify-content: center;
}
.boxes {
  background-color: rgb(247, 247, 247);
  height: 40px;
  width: 300px;
  border: 1px solid silver;
  margin-top: 4px;
  font-weight: bold;
  color: rgb(41, 123, 195);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid silver;
}
.boxes_first {
  background-color: rgb(247, 247, 247);
  height: 40px;
  width: 300px;
  border: 1px solid silver;
  margin-top: 4px;
  font-weight: bold;
  color: rgb(41, 123, 195);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid silver;
  margin-top: 35px;
}
#content_box {
  background-color: rgb(247, 247, 247);
  height: 90px;
  width: 300px;
  border: 1px solid silver;
  border-bottom: none;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: smaller;
  display: flex;
}
#content_box:hover {
  background-color: white;
}
#content_box:nth-child(2),
#content_box:nth-child(5),
#content_box:nth-child(11),
#content_box:nth-child(13) {
  border-top: none;
}
#content_box:nth-child(3),
#content_box:nth-child(6),
#content_box:nth-child(11),
#content_box:nth-child(15) {
  border-bottom: 1px solid silver;
}
.contentbox_text {
  font-weight: lighter;
  color: gray;
}
.positive {
  width: 15px;
  height: 15px;
  padding: 2px;
  padding-left: 5px;
  justify-content: center;
}
.positive_gray {
  width: 15px;
  height: 15px;
  padding-right: 5px;
}
.comment {
  width: 15px;
  height: 15px;
  padding: 2px;
  padding-left: 5px;
  justify-content: center;
}
.likes {
  color: red;
  margin: 0;
  margin-left: 3px;
  margin-right: 3px;
  font-weight: normal;
}
.mentions {
  color: rgb(0, 228, 228);
  margin: 0;
  margin-left: 3px;
  margin-right: 3px;
  font-weight: normal;
}
.article_title {
  font-weight: bold;
}
.article_text {
  font-weight: light;
}
.article_reaction {
  margin-top: 5px;
  font-weight: lighter;
  display: flex;
  color: rgb(170, 170, 170);
}
.aside {
  margin-left: 15px;
}
.place_now {
  color: red;
  font-weight: bold;
}
.contentbox_rightinforms {
  font-weight: lighter;
  font-size: smaller;
  color: silver;
}
#hot_content_box {
  background-color: rgb(247, 247, 247);
  height: 40px;
  width: 300px;
  border: 1px solid silver;
  border-top: none;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.starscore {
  height: 15px;
  width: auto;
}
.live_title {
  font-weight: 100;
  padding-bottom: 5px;
}
#detailtext {
  height: auto;
  width: 753px;
  border: 1px solid silver;
  display: flex;
  padding: 5px;
  padding-left: 17px;
  align-items: center;
}
.detail_title {
  padding: 3px;
  font-weight: 600;
  font-size: 130%;
  padding-bottom: 7px;
}

.detail_text {
  font-weight: light;
}
.anonymous_profile {
  width: 45px;
  border-radius: 30%;
  margin-right: 10px;
}
.profile_container {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.profile_container p {
  padding-left: 605px;
  margin-top: -20px;
}
.nickname {
  padding-bottom: 7px;
  font-size: 90%;
}
.timesago {
  font-weight: 70;
  font-size: 90%;
  color: silver;
}
.favorites {
  width: 15px;
  height: 15px;
  padding-left: 5px;
  padding-top: 5px;
}
.favorites_gray {
  width: 15px;
  height: 15px;
  padding-right: 5px;
}
.preference {
  color: rgb(255, 234, 0);
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: normal;
}
.likesbox {
  font-size: 13px;
  color: gray;
  height: auto;
  width: auto;
  border-radius: 20%;
  background-color: rgb(246, 246, 246);
  display: flex;
  margin: 10px;
  padding: 10px;
  align-items: center;
  margin-right: 3px;
  margin-bottom: 0;
  margin-left: 5px;
}
.scrapbox {
  font-size: 13px;
  color: gray;
  height: auto;
  width: auto;
  border-radius: 20%;
  background-color: rgb(246, 246, 246);
  display: flex;
  margin: 10px;
  padding: 10px;
  align-items: center;
  margin-left: 0;
  margin-bottom: 0;
}
.typeacomment {
  background-color: rgb(246, 246, 246);
  height: auto;
  width: 755px;
  border: 1px solid silver;
  display: flex;
  padding: 5px;
  padding-left: 17px;
  align-items: center;
  color: gray;
  border-top: none;
  font-size: smaller;
  padding: 10px;
}
.typeacomment img {
  background-color: red;
  width: 40px;
  margin: -10px;
  margin-left: 5.1px;
  padding: 0;
}
.typeacomment img:hover {
  cursor: pointer;
}
input {
  accent-color: red;
  margin-left: 563px;
}
.writingsall {
  height: 15px;
  width: 65px;
  border: 1.5px solid red;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: red;
  padding: 10px;
  margin: 5px;
}
.writingsall img {
  width: 10px;
  padding-right: 5px;
}
.contentbox_rightinforms:hover {
  cursor: pointer;
}

.pos_com_smaller {
  width: 12px;
  height: 12px;
  padding: 2px;
  padding-left: 5px;
  justify-content: center;
}
